@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1970px;
}

.carousel_content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.carousel_content i {
    top: 50%;
    height: 44px;
    width: 44px;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #E0BEA2;
    color: black;
    transform: translateY(-50%);
    transition: transform 0.1s linear;

}

.carousel_content i:active {
    transform: translateY(-50%) scale(0.9);
}

.carousel_content i:hover {
    background: #f2f2f2;
    color: white;
}

.carousel_content i:first-child {
    left: 19px;
    display: none;
}

.carousel_content i:last-child {
    right: 19px;
}

.carousel_content .carousel {
    padding: 50px 0 0 0;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 640px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child {
    margin-left: 0px;
}

.slider_title {
    padding-left: 190px;
    padding-top: 40px;
}

.slider_title h1 {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 300;
    line-height: 42px;
    text-align: left;
}

.slider_conatiner {
    padding: 50px 0 0 0;
}

.swiper {
    width: 1200px;
    height: 100%;
}

.swiper img {
    width: 350px;
    height: 490px;
}

.novelty {
    padding: 100px 0 0 0;
}

.novelty_title {
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    padding: 66px 0;

}

.emailInp {
    display: flex;
    align-items: center;
    justify-content: center;

}

#emailInp {
    height: 50px;
    width: 600px;
    border-radius: 0px;
    text-align: center;
    border-style: none;
    border: 0.5px solid #252525
}

.btnFolow button {
    text-align: center;
    height: 50px;
    width: 600px;
    border-radius: 0px;
    padding: 16px 81px 17px 81px;
    border-style: none;
    background-color: #E0BEA2;
    color: #fff;
    font-family: "Raleway";



}

.btnFolow button:hover {
    background-color: #f2f2f2;
    color: black;
}

.btnFolow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 81px 17px;
    gap: 10px;
}

.agree_container {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    height: 38px;
    width: 600px;
    border-radius: nullpx;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;


}


/*  footer */

.footer_container {
    padding: 77px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";


}

.footerSec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 47px;

}

.footerSec p {

    font-family: "Raleway";
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

/* Header */
.header {
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    z-index: 90;
}

.pic {
    display: fle;
}

.header_content {
    background-color: transparent;
    margin: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 45px;
    padding: 7px;
}

.menu_btn button {
    border-style: none;
}

.burger_menu span {
    height: 5.5px;
    background-color: #ffffff;
}

.first_line {
    width: 100%;
}

.second_line {
    width: 70%;
}

.third_line {
    width: 40%;
}

.header_heading {
    font-size: 55px;
    margin-right: 70px;
}

/* Language */
.languages {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.languages div {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.languages img {
    margin-bottom: 5px;
}

/* Icons */
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 200px;
}

/* Menu */
.menu_responsive ul {
    display: none;
}



.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 19px;
    gap: 20px;
}

/* Banner */

.banner_content img {
    width: 590px;

}

.banner_fons {
    display: flex;
    box-shadow: inset 100px 500px 100px 500px rgba(0, 0, 0, 0.7);


}

.banner_text {

    display: flex;
    align-items: center;



}

.banner_text h1 {
    font-weight: 300;
    font-size: 66px;
    width: 550px;
    display: flex;
    justify-content: center;
}

hr {
    width: 200px;
    height: 2px;
    border: none;
    background-color: white;
    margin: 30px 0px 30px 0px;
}

.banner_text p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    width: 300px;
}

.banner_text p:hover {
    cursor: pointer;
}

.banner_text img {
    height: 20px;
    color: white;
}

@media only screen and (max-width: 375px) {
    .menu {
        width: 0px;
    }

    .menu ul {
        display: none;
    }

    /* Responsive menu */
    .menu_responsive {
        position: absolute;
        transition: 0.5s ease;
        opacity: 0;
        top: 80%;
        margin-left: 6px;
        width: 150px;
        background-color: #fff;
    }

    .menu_responsive ul {
        display: none;
        list-style: none;
        font-size: 15px;
        line-height: 20px;
        color: black;
    }



    /* Header */
    .header_heading {
        font-size: 30px;
        font-weight: 100;
        margin-right: 30px;
    }

    .languages {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-right: 20px;
    }

    .languages div {
        margin-right: 0px;
    }

    .icons {
        width: 60px;
    }

    .first_language {
        padding-right: 20px;
    }

    .second_language {
        display: none;
    }

    .search,
    .user {
        display: none;
    }

    /* Banner Text */
    .banner_text {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        bottom: 60%;
        right: 50%;
        transform: translate(50%);
    }

    .banner_text h1 {
        font-weight: 100;
        font-size: 30px;
        width: 250px;
        display: flex;
        justify-content: center;
    }

    hr {
        width: 100px;
        height: 2px;
        border: none;
        background-color: white;
        margin: 10px 0px 10px 0px;
    }

    .banner_text p {
        font-size: 14px;
    }

    .banner_text img {
        height: 15px;
    }
}

/* Modal_menu */

.modal_content {
    width: 100%;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    padding: 200px;
    color: #fff;
    transition: 0.3s ease;
    opacity: 0;
}

.modal_content button {
    background-color: rgb(255, 250, 250);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-style: none;
    font-family: "Raleway";
}

.modal_content ul li {
    list-style: none;
}

.modal_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.modal_bg {
    opacity: 0;
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.333);
    backdrop-filter: blur(10px);
}

.close_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: -70px;
}




.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


.carousel_content i:first-child {
    z-index: 1;
}
}

/* @media only screen and (max-width: 960px) {

    
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }


    .carousel_content i:first-child {
        z-index: 1;
    }
} */